*{
    font-family: 'Roboto', sans-serif;
}

.btn-drop{
    display: none!important;
}

@media screen and (max-width: 991.2px) {
 .btn-menu:nth-child(1){
   margin-bottom: 1rem;
 }
    .btn-drop{
        display: block!important;
    }
}